<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Editar esta pelicula", edit_movie_path(@movie) %> |
  <%= link_to "Volver a peliculas", movies_path %>

  <%= button_to "Eliminar esta pelicula", @movie, method: :delete %>
</div>
