<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Editar este cliente", edit_client_path(@client) %>
  <%= link_to "Volver a Clientes", clients_path %>

  <%= button_to "Eliminar este cliente", @client, method: :delete %>
</div>
